[Unit]
Description=uWSGI instance serving cleats-racing

[Service]
ExecStart=/usr/bin/bash -c 'cd /www/cleats-racing; source venv/bin/activate; uwsgi --ini cleats.ini'

[Install]
WantedBy=multi-user.target
