<!doctype html>
<title>{% block title %}Cleats Leaderboards{% endblock %}</title>
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel='shortcut icon' href='/static/hacsoc.png'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
<link rel="shortcut icon" type="image/png" href="/static/Jersey_yellow.png">

<body>
<style>
.panel-heading img {
    padding-right: 1em;
}
.panel-heading {
    background-image: none !important;
}

.text-muted {
    padding-bottom: 3em;
    text-align: right;
}
</style>

<div class="navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <a class="navbar-brand" href="/">Cleats Leaderboards</a>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    {% block body %}{% endblock %}
</div>
<footer class="container">
    <div class="row">
        <a class="col-md-8 col-md-offset-2 text-muted" href="https://github.com/a-johnston/cleats-racing">Source on GitHub</a>
    </div>
</footer>
<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</body>
