{% extends "base.html" %}

{% block body %}
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-left">
        <h2>Season Standings</h2>
    </div>
</div>

{% with flag="static/Jersey_yellow.png", _results=overall['GC'], _title="GC" %}
    {% include "results_box.html" %}
{% endwith %}

{% with flag="static/Jersey_polkadot.png", _results=overall['KOM'], _title="KOM" %}
    {% include "results_box.html" %}
{% endwith %}

{% with flag="static/Jersey_polkadot.png", _results=overall['QOM'], _title="QOM" %}
    {% include "results_box.html" %}
{% endwith %}

{% with flag="static/Jersey_green.png", _results=overall['Sprint'], _title="Sprint" %}
    {% include "results_box.html" %}
{% endwith %}

{% endblock %}
